#booking-detail h2 {
    background-image: url('/assets/af_pattern_bg.png');
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

#booking-detail-body {
    margin: 0 auto;
}

#contact-table th {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding-right: 50px;
    padding-bottom: 20px;
}

#contact-table td {
    text-transform: uppercase;
    font-size: 10px;
    padding-bottom: 20px;
}

#booking-detail-body .connection {
    margin-top: 30px;
    padding: 20px 0px 0px;
    border-bottom: 2px solid #439EDB;
    margin-top: 0;
}

#booking-detail-body .connection:first-child {
    border-top: 2px solid #439EDB;
}

#booking-detail-body .connection .airport {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 0;
}

#booking-detail-body .connection .city {
    color: #439EDB;
    text-transform: uppercase;
    font-size: 20px;
}

#booking-detail-body .connection .icon {
    font-size: 50px;
    color: #439EDB;
    text-align: center;
}

#booking-detail-body .connection .flight-code {
    color: #439EDB;
    text-transform: uppercase;
    font-size: 20px;
    text-align: right;
}

#booking-detail-body .connection .details .item-header{
    text-transform: uppercase;
    margin-bottom: 5px;
    font-size: 15px;
}

#booking-detail-body .connection .details .item-value{
    text-transform: uppercase;
    font-size: 20px;
}

#booking-detail-body .connection .operated-by {
    text-transform: uppercase;
    font-size: 10px;
}

@media only screen and (max-width: 992px) {
    #booking-detail-body .connection .icon {
        display: none;
    }

    #booking-detail-body .connection .flight-code {
        text-align: left;
    }
}